REACT_APP_BACKEND_API_URL=https://example:5001
REACT_APP_FRONTEND_URL=http://example:3000/
CYPRESS_TEST_LOGIN_ADMIN_EMAIL=notHisEmail@gmail.com
CYPRESS_TEST_LOGIN_ADMIN_PASSWORD=12345
CYPRESS_TEST_LOGIN_USER_EMAIL=notMyEmail@gmail.com
CYPRESS_TEST_LOGIN_USER_PASSWORD=12345