.RegistrationForm
{
  background-color: #EDEFFC;
  padding: 5%;
  border-radius: 2%;
}

input[type="text"]::-webkit-input-placeholder {
  background-color: red!important;
}

.RegButton
{
  background-color: #EFA9AE!important ;
font-weight: bold!important;
color: black!important;
width:  30%;
font-size: 1vw!important;
}
.form-control {
  background-color:  #6E44FF!important;
  color: white;
  width: 80%!important;
  margin-left: auto;
  margin-right: auto;
  font-size: 1vw!important;

}

.form-group
{
  text-align: center!important;
   
}

.form-control:not(active){
  color:white;
}

.form-control:focus{
  color:white;
}
.RegInputgroupEmail
{
  background-color: #6E44FF;
   border-top-left-radius: 20%!important;
}
@media screen and (max-width:640px)
 {
  .form-control {
  
    font-size: 3.5vw!important;
  
  }

  .RegButton
{
 
font-size: 3vw!important;
}
}