.DetailedSearchIcon{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ced4da;
    height: 100%;
    color: #8b8e91;
}

.DetailedSearchIconOn{
    color: #212529;
}

.DetailedSearchIcon:hover{
    cursor: pointer;
}